<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaeholee.devhub.mybatis.PostMapper">

    <!-- Post + Reply 관계 매핑 -->
    <resultMap id="PostWithRepliesResultMap" type="Post">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="path" column="path"/>
        <result property="thumbnail_path" column="thumbnail_path"/>
        <result property="content_type" column="content_type"/>
        <result property="created_at" column="created_at"/>
        <result property="updated_at" column="updated_at"/>
        <result property="heart" column="heart"/>
        <result property="creator" column="creator"/>

        <collection property="replies" ofType="Reply" column="id"
                    javaType="ArrayList" select="getRepliesByPostId"/>
    </resultMap>

    <!-- Post 1건 조회 -->
    <select id="getPostById" resultMap="PostWithRepliesResultMap">
        SELECT
            id,
            title,
            path,
            thumbnail_path,
            content_type,
            created_at,
            updated_at,
            heart,
            creator
        FROM post
        WHERE id = #{id}
    </select>

    <!-- Reply 리스트 조회 -->
    <select id="getRepliesByPostId" resultType="Reply">
        SELECT
            id,
            post_id,
            body,
            created_at,
            updated_at,
            creator,
            up,
            down
        FROM reply
        WHERE post_id = #{id}
        ORDER BY created_at ASC
    </select>

    <!-- Post 전체 목록 조회 -->
    <select id="getAllPosts" resultType="Post">
        SELECT
            id,
            title,
            path,
            thumbnail_path,
            content_type,
            created_at,
            updated_at,
            heart,
            creator
        FROM post
        ORDER BY created_at DESC
    </select>

    <insert id="insertPost" parameterType="Post">
        INSERT INTO post (
            title,
            path,
            thumbnail_path,
            content_type,
            creator
        )
        VALUES (
                   #{title},
                   #{path},
                   #{thumbnail_path},
                   #{content_type},
                   #{creator}
               )
    </insert>

    <insert id="insertReply" parameterType="Reply">
        INSERT INTO Reply (
            post_id,
            body,
            creator
        )
        VALUES (
                    #{post_id},
                    #{body},
                    #{creator}
               )
    </insert>

    <delete id="deleteReplyById" parameterType="int">
        DELETE FROM Reply
        WHERE id = #{id}
    </delete>
    
    <delete id="deletePostById" parameterType="int">
        DELETE FROM Post
        WHERE id = #{id}
    </delete>
</mapper>
